@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
      padding: 0;
      margin: 0;
      font-family: "Noto Sans", sans-serif;
}
header{
      margin: auto 80px;
      background: #ffff;
      height: 70px;
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10000;
}
header .logo{
      margin-top: 10px;
}
header nav ul.menu{
      list-style: none;
      display: flex;
      padding: 10px;
}
header nav ul.menu li{
      margin-left: 80px;
}
header nav ul.menu li a{
      color: #000000;
      font-weight: 600;
      font-size: 22px;
      text-decoration: none;
}

/* Main */

main{
      margin: 30px 100px;
      min-height: 69vh;
}
main .container{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
}
main .container .card{
      width: 280px;
      border-radius: 20px;
      background: #ededed;
      margin-bottom: 20px;
}
main .container .card img{
      width: 250px;
      height: 280px;
      margin: 15px;
}
main .container .card .card-body{
      padding: 20px;
}
main .container .card .card-body p{
      margin-top: 10px;
      margin-bottom: 15px;
}

main .container .card .card-body .card-button{
      text-decoration: none;
      color: #000000;
      border: #bcbcbc solid;
      border-radius: 10px;
      padding: 5px;
}
.more{
      width: 150px;
      background-color: #ededed;
      padding: 10px;
      /* border: #000000 solid; */
      text-align: center;
      border-radius: 10px;
      margin: auto;
      margin-top: 20px;
      cursor: pointer;
}
.more a{
      text-decoration: none;
      font-size: 20px;
      color: #000000;
}
.genre-container{
      width: 600px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
}
.genre-container .genre{
      width: 200px;
      text-align: center;
      padding: 10px;
      margin-top: 20px;
      border: #000000 solid;
      border-radius: 20px;
      background-color: #f1f0f0;
      cursor: pointer;
}

.content{
      width: 100%;
      display: flex;
      justify-content: center;
}
.content .content-image img {
      width: 300px;
}
.content .content-text{
      width: 400px;
      margin-left: 50px;
}
.content .content-text p{
      padding: 10px;
}
.content .content-text .watch{
      width: 150px;
      text-align: center;
      background-color: #ededed;
      padding: 10px;
      margin-top: 15px;
      border-radius: 10px;
      cursor: pointer;
}
.content .content-text .watch a{
      text-decoration: none;
      font-size: 19px;
      color: #000000;
}

/* Footer */

footer{
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-around;
}
footer .footer{
      display: flex;
}
footer .footer .company{
      display: flex;
      margin-left: 30px;
      align-items: center;
}
footer .icons{
      display: flex;
}
footer .icons ion-icon{
      cursor: pointer;
      margin-left: 15px;
      font-size: 24px;
}

